body {
    background-image: url(../imagenes/fondo-pagina.png);
}

.desc{

    border: 2px solid black;
    background-color: rgb(152, 89, 179);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.button{
    text-align: center;
    align-items: center;
}
#nav {
    height: 7vh;
}

.imgPublicacion {
    max-height: 20%;
    max-width: 20%;
    text-align: center;
    align-items: center;
}

#botonAdoptar{
    background-color: rgb(204, 101, 187);
}

.rowMenu {
    padding-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 3vh;
    background-color: rgb(235, 218, 242);
    border: 5px solid rgb(152, 89, 179);
}

h3 {
    padding: 10px;
    color: rgb(152, 89, 179);
    text-align: center;
    margin: 1vh auto auto;
}

h4 {
    padding: 10px;
    color: rgb(152, 89, 179);
    text-align: center;
    margin: 1vh auto auto;
}

#menu {
    background-color: #e0e0e0;
    width: 80vw;
    height: auto;
    margin: 5vh 10vw;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 5vh;
}

@media (max-width: 575px) {
    #menu {
        height: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: transparent;
        border: none;
    }
}