body {
    background-image: url(../imagenes/fondo-pagina.png);
}

#imagenMenu {
    background-size: cover;
    background-position: center;
}

.col {
    background-color: rgb(235, 218, 242);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(152, 89, 179);
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

#botonFuera {
    margin-top: 1vh;
    margin-bottom: 5vh;
    align-content: center;
    text-align: center;
}

.imgInicio{
    max-width: content-box;
}

#botonRegistrar {
    background-color: rgb(235, 218, 242);
}

h2 {
    padding: 10px;
    background-color: rgb(235, 218, 242);
    color: rgb(152, 89, 179);
    text-align: center;
    width: 80vw;
    margin: 1vh auto auto;
}

h3 {
    padding: 10px;
    color: rgb(152, 89, 179);
    text-align: center;
    margin: 1vh auto auto;
}

.seleccionRadio {
    margin-right: 4px;
}

#nav {
    height: 7vh;
}

.rowMenu {
    padding-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.menu {
    background-color: #e0e0e0;
    width: 80vw;
    height: auto;
    margin: 5vh 10vw;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 5vh;
}

@media (max-width: 575px) {
    #menu {
        height: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: transparent;
        border: none;
    }

    .rowMenu {
        margin: 0 auto;
        padding-top: 1px;
        padding-left: 3vh;
        padding-right: 3vh;
    }
}

@media (max-width: 425px) {
    input {
        width: 100%;
    }

}

#mascotaElegidaStyle{
    color: rgb(152, 89, 179);
    text-shadow:  1px 1px 1px black;
}